body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(141, 61, 61);
}
h1 {
    border: 3px solid black;
    width: 40%;
    margin: 50px auto;
}

.cal-body {
    margin: 0 auto;
    border: 6px solid rgba(0, 0, 0, 0.9);
    width: 20%;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.7);
}
input {
    border: 6px solid rgba(0, 0, 0, 0.9);
    font-size: 18px;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 10px;
}

button {
    color: white;
    background-color: black;
    font-size: 20px;
    height: 50px;
    aspect-ratio: 1;
    margin: 5px;
    &:hover {
        color: black;
        background-color: beige;
    }
}